<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite99">
  <test name="Test99">
    <classes>
      <class name="com.acc_selenium_demo1.TestNG_demo2"/>
      <class name="com.acc_selenium_demo1.TestNG_demo1"/>
      <class name="com.acc_selenium_demo1.Demo2_newtours"/>
    </classes>
  </test> <!-- Test99 -->
</suite> <!-- Suite99 -->
